.celular {
    width: 360px;
    height: 640px;
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
    background-color: rgb(227, 244, 255);
    box-shadow: 2px 2px 5px black;
}

.itemrest {
    height: 40%;
    width: 40%;
}

.pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha-rest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.linha{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.linha-gerais{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemrest2 {
    height: 50%;
    width: 50%;
}
.busca{
    display: flex;
}

.select-item{
display: block;
min-height: 3rem;
width: 70%;
color: rgb(87, 178, 235);
}

.coluna{
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 244, 255);
    font-size: 80%;
}

.tamanho{
    display: flex;
    height: 40%;
    width: 70%;
}

.body{
    display: block;
    margin: 20%;

}

.pesquisa-sp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 10rem;
}
.img{
    display:block;
    width: 70%;

}

.coluna3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-com-o-q{
    display: flex;
    min-height: 3rem;
    width: 70%;
    color: rgb(87, 178, 235);
    }

h1{
    font-size: 200%;
    margin-bottom: 4%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(87, 178, 235)
}

h2{
    font-size: 180%;
    margin-bottom: 10%;
    font-family: 'Playfair Display', serif;
    color: rgb(87, 178, 235)
}

.linha2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3{
    font-size: 150%;
    margin-bottom: 5%;
    font-family: 'Playfair Display', serif;
    color: rgb(87, 178, 235)
}

h4{
    font-size: 120%;
    margin-bottom: 1%;
    font-family: 'Playfair Display', serif;
    color: rgb(87, 178, 235)
}

h5{
    font-size: 210%;
    margin-bottom: 1%;
    margin-top: 5%;
    font-family: 'Playfair Display', serif;
    color: rgb(87, 178, 235)
}

.Fonte{
    font-family: 'Playfair Display', serif;
}

.cor-do-fundo{
    background-color: rgb(227, 244, 255);
}

h6{
    font-size: 90%;
    margin-bottom: 5%;
    font-family: 'Playfair Display', serif;
    color: rgb(87, 178, 235)
}

.ind-masp{
    margin-top: 1rem;
}

.voltar-masp{
    position: absolute;
    right: 0;
}

.foto-sp{
    display: flex;
    width: 98%; 
    height: 30%;
}

.seta{
    display:block;
    position: absolute;
    min-height: 10%;
    width: 20%;
    bottom: 0;
    left: 0;
}
.linhafooter{
    display: flex;
    flex-direction: row;
}

.casa{
    display:block;
    position: absolute;
    min-height: 10%;
    width: 20%;
    bottom: 0;
    right: 0;
}

.temaki{
    display: block;
    width: 140%;
    height: 140%;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0.1rem;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}