.itemrest {
    height: 40%;
    width: 40%;
}

.pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha-rest {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.linha{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.linha-gerais{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemrest2 {
    height: 40%;
    width: 40%;
}
.busca{
    display: flex;
}

.select-item{
display: block;
min-height: 3rem;
width: 70%;
color: red;
}

.coluna{
    display: flex;
    flex-direction: column;
}

.tamanho{
    display: flex;
    height: 40%;
    width: 70%;
}

.body{
    display: block;
    margin: 20%;

}

.pesquisa-sp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 10rem;
}
.img{
    display:block;
    min-height: 10%;
    width: 40%;

}

.coluna3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-com-o-q{
    display: flex;
    min-height: 3rem;
    width: 70%;
    color: red;
    }

h1{
    font-size: 200%;
    margin-bottom: 4%;
}

h2{
    font-size: 200%;
    margin-bottom: 10%;
}

.linha2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3{
    font-size: 150%;
    margin-bottom: 5%;
}

h4{
    font-size: 200%;
    margin-bottom: 1%;
}

h5{
    font-size: 250%;
    margin-bottom: 1%;
    margin-top: 5%;
}